<div class="card" style="width: 20rem;">
  <img class="card-img-top" style="width: 20rem;height: 20rem;" src="{{monster.image}}" alt="Card image cap">
  <div class="card-block">
    <h4 class="card-title">{{monster.name}}</h4>
    <p class="card-text">{{monster.description}}</p>
      {{#if monster.scary}}
      <a href="#" class="btn btn-danger"{{action "setNotScary"}}>Not Scary!!!</a>
      {{else}}
      <a href="#" class="btn btn-danger"{{action "setScary"}}>Scary!!!</a>
      {{/if}}

  </div>
</div>
